.coverPage {
  background-image: url("././images/numbers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title {
  position: relative;
  background-color: grey;
  top: 5%;
  padding: 5% 0;
  display:flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}

.playBtn {
  margin-top: 5%;
  font-weight: 600;
  font-size: 2.5vh;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.guessBtn {
  margin-left: 5%;
}

h1 {
  font-size: 4vh;
  font-weight: 600;
}

.game {
  position: absolute;
  width: 80%;
  margin: auto;
  text-align: center;
  top: 0;
  left: 10%;
}

.mainHeader {
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 3vw;
}

.response {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

.tryAgainBtn {
  margin-top: 2%;
}

.responseHeader2 {
  color: crimson;
  font-style: oblique;
  font-weight: 600;
}
